body {
  background-image: url('../images/darth_vader_2-wide.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
}

#signup_background {
  position: absolute;
  bottom: 100px;
  right: 100px;
  height: 275px;
  width: 500px;
  background-color: white;
  opacity: .5;
  border: 5px solid black;
  border-radius: 20px;
}

#signup {
  position: absolute;
  height: 275px;
  width: 500px;
  bottom: 100px;
  right: 100px;
  text-align: center;
}

#signup .container {
  margin: 0;
}


