<h5>Choice Info:</h5>
<div class="choice_input">
  <input type="text" class="form-control" name="q<%= @question_index %>[c<%= @choice_index %>]" placeholder="Enter an answer choice."><br>
  <button type="button" class="btn btn-success set">Set Choice</button>
  <button type="button" class="btn btn-primary edit" style="display: none;">Edit Choice</button>
</div>
