<h5>Choice Info:</h5>
<div class="choice_input">
  <input type="text" name="q<%= @question_index %>[c<%= @choice_index %>]" placeholder="Enter an answer choice.">
  <button type="button" class="set">Set Choice</button>
  <button type="button" class="edit" style="display: none;">Edit Choice</button>
</div>
