<nav>
  <ul>
    <li><a href="/">Home</a></li>
    
    <% if logged_in? %>      
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><%=erb :_user_login%></li>
    <% end %>
  </ul>
</nav>

