<nav>
  <ul>
    <li><a href="/">Home</a></li>
    
    <% if logged_in? %>
      <li><a href="/user/<%= current_user.id %>">Profile</a></li>    
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/login">Log In</a></li>
    <% end %>

  </ul>
</nav>

