<div class="navbar navbar-inverse navbar-fixed-top">
  <ul class="nav">
    <li><a class="navbar-form pull-left navbar-brand" href="/">surVader</a></li>
    
    <% if logged_in? %>      
      <li><a class="navbar-form pull-right navbar-brand" href="/logout">Logout</a></li>
    <% else %>
      <li><%=erb :_user_login%></li>
    <% end %>
  </ul>
</div>

