<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">surVader</a>
        </div>
        <% if logged_in? %>
          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="/logout" method='get'>
              <button type="submit" class="btn btn-success">Logout</button>
            </form>
          </div>
        <% else %>
          <%= erb :_user_login %><!--/.navbar-collapse -->
        <% end %>
      </div>
    </div>