<h1>Results for <%= @survey.label %></h1>
<ol>
<% @questions.each_with_index do |question, index| %>
  <h3><li><%=question.label%></li></h3>
    <% @choices[index].each do |choice| %>
      <div class="table-responsive">
      <table class="table table-striped ">
        <tr>
          <th>Choice</th>
          <th>Number of Votes</th>
        </tr>
        <tr>
          <td><%=choice.label%></td>
          <td><%=choice.responses.count%></td>
        </tr>
      </table>
      </div>
    <% end %>
<% end %>
</ol>

<!-- Moris Chart -->

<div id="barGraph" style="height: 250px;"></div>

<script type="text/javascript" src="/js/survey_results.js"></script>
