<link rel="stylesheet" href="/css/home_page.css">

<div id="outside">
  <div id="signup_wrapper">
    <div id="signup_background">
    </div>

    <div id="signup">
      <h1>Welcome to surVader!</h1>
      <h2>Create Account</h2>
      <form role="form" action="/users" method="POST">
          <input type="text" name="name" placeholder="name"><br>
          <input type="email" name="email" placeholder="email"><br>
          <input type="password" name="password" placeholder="password"><br>
          <input type="submit" class="btn btn-primary" value="create account">
      </form>
    </div>
  </div>
</div>
