<link rel="stylesheet" href="/css/home_page.css">

<div id="signup_wrapper">
  <div id="signup_background">
  </div>

  <div id="signup">
    <div class="container">
      <h1>Welcome to surVader!</h1>
      <h2>Create Account</h2>
      <form class="form-signin" action="/users" method="post">
        <%= @signup_errors[:name] if @signup_errors %>
        <input type="text" class="form-control" name="name" placeholder="name">
        <input type="email" class="form-control" name="email" placeholder="email">
        <input type="password" class="form-control" name="password" placeholder="password"><br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Join the Dark Side">
      </form>
    </div>
  </div>
</div>