<script type='text/javascript' src="/js/survey_creation.js"></script>

<%= erb :_errors %>

<form id="new_survey" method="get" action="/surveys/new">
	<div id="survey_input">
  	<input type="text" name="label" placeholder="Survey Title"> 
  	<textarea name="description" rows="4" columns="20" placeholder="What's this survey about?"></textarea>
  	<button type="button" id="survey_confirm">Add Question</button>
  </div>
</form>
