<h2>Login</h2>

<form action="/login" method="POST">
  <label>username:
    <input type="text" name="username">
  </label>
  <label>
    <input type="password" name="password">
  </label>
    <input type="submit" value="login">
</form>

<h2>Create Account</h2>

<form action="/users" method="POST">
  <label>username:
    <input type="text" name="username">
  </label>
  <label>
    <input type="password" name="password">
  </label>
    <input type="submit" value="create account">
</form>
