<div class="left">
  <h1>Your Surveys</h1>
  <%= erb :_surveys_list %>
  <br>
  <hr>
  <a href="/surveys/new">Create your own survey!</a>
</div>
<div class="top-right">
  <h2>Profile/Results</h2>
</div>
<div class="bottom-right">
  <h2>Surveys to Take</h2>
</div>
