<h3>Welcome <%= @user.name.capitalize %></h3>

<h4>User since: <%= @user.created_at %></h4>

<h4>Below are the surveys you have created</h4>
<%= erb :_surveys_list %>

<% if logged_in? %>
  <br>
  <hr>
  <a href="/surveys/new">Create your own survey!</a>
<% end %>
